.cartpage{
    display: flex;
    max-width: 1300px;
    margin-top: 2rem auto;
}

.cartpage h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

.cartleft{
    flex: 0.7;
    margin-right: 1rem;
    padding: 1rem;
    background-color: transparent;
}

.cartright{
    flex: 0.3;
    background: rgb(191, 199, 191);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: 9.7rem;
    margin-top: 4.4rem;
}

.cartright div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cartright div:last-child{
    border: none;
}

.cartinfo p{
    padding: 8px;
}
.cartright div Button{
    padding: 10px 17px;
    width: 100%;
}

@media(max-width:1320px){
    .cartpage{
        max-width: 900px;
    }
}

@media(max-width:800px){
    .cartpage{
        max-width: 600px;
        flex-direction: column;
    }
}